.flex-container {
  display: flex;
  flex-direction: row;
}

#radical, .selected, .notSelected {
    font-size: 15px;
    font-family: monospace;
}
  
  .column.outside {
    width: 30%;
    align-items: flex-end;
  }
  
  .column.inside {
    width: 60.6%;
  }
  
  .column.middle {
    width: 6.5%;
  }
  
  .column.right {
    width: 2.9%;
  }

  .column.image.top {
    width: 100%;
    align-items: flex-start;
  }

  .column.image.bottom {
    width: 100%;
    align-items: flex-end;
  }
  .column.image.spacer {
    align-items: flex-end;
    padding: 5px;
  }

.selected {
  color: red;
  border: 5px solid red;
  background-color: white;
  height: 52px;
}
    

.notSelected {
  background-color: white;
  color: black;
  border: 5px solid #EEEEEE;
  height: 52px;
}

#gameArea, #buttons, #radical {
  padding: 5px;
}

table {
  padding: 0px;
  margin: 0px
  border-spacing: 0px 0px;
  vertical-align: top;
}

#textBox {
  border: 5px solid;
  font-size: 20px;
  font-family: monospace;
  max-width: 1200px;
  min-height: 110px;
  padding: 10px;
  margin: 5px;
}
